- provide(:title, "Home page")



.row
  .col-md-3
    .row
      .col-md-12
        %h1 Top 5 hotels
      = render @hotels
  .col-md-9
    .row
      .col-md-12
        %h1 Last reviews
      = render @reviews