/ = simple_form_for([@hotel, @hotel.reviews.build]) do |f|
= simple_form_for ([@hotel, @review]) do |f|
  %div#rating-input{"data-score" => "#{@review.rating}"}
    %label Rating
  = f.input :body
  = f.button :submit